{% extends 'base.html' %}

{% block title %}
    About
{% endblock %}


{% block content %}
    <h2 class="about">About Me</h2>
    <p class="p-about">Hey there! I'm Eslam Mohamed,
        a passionate software engineer with a keen
        interest in web <br>development. Currently pursuing
        my studies at the Engineering Faculty,<br>
        I've dedicated myself to mastering the craft of
        creating dynamic and user-friendly web applications.
    </p>

    <h2 class="about">What I Do</h2>
    <p class="p-about">In the realm of front-end development,
        I specialize in crafting engaging and responsive
        user interfaces using HTML, CSS, and JavaScript.
        I'm proficient in utilizing modern frameworks like
        Angular to build robust single-page applications that
        offer seamless user experiences.

    </p>

    <p class="p-about">
        On the back end, I thrive in Python-powered environments,
        leveraging frameworks like Flask to architect efficient
        and scalable web solutions. My expertise extends to
        database management with MySQL, ensuring that data is
        stored, retrieved, and managed securely and efficiently.
    </p>

    <h2 class="about">My Approach</h2>
    <p class="p-about">
        I believe in the power of algorithms and data structures
        as the backbone of efficient software. With a strong
        foundation in algorithms and data structures, I ensure
        that the solutions I develop are not only functional but
        also optimized for performance and scalability.
    </p>

    <h2 class="about">Why Web Development?</h2>
    <p class="p-about">
        Web development is more than just writing code for me;
        it's about creating impactful digital experiences that
        resonate with users. I'm driven by the endless
        possibilities of the web and the opportunity to
        leverage technology to solve real-world problems.
    </p>

    <h2 class="about">Let's Connect</h2>
    <p class="p-about">
        I'm always eager to collaborate on exciting projects
        or discuss innovative ideas. Whether you're looking to
        revamp your web presence or embark on a new digital
        venture, I'd love to hear from you. Let's connect and
        turn your vision into reality!
    </p>
    <p class="p-about">
        Feel free to reach out via <a href="#">email</a> or connect with me on <a href="#">LinkedIn</a>.
    </p>
        
{% endblock %}