<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/about.css') }}">
</head>
<body>
    <header>

        <div class="avatar">
            <div>
                <img src="/static/images/avatar.png" alt="avatar">
            </div>
        </div>

        <nav>
            <ul class="elements">
                <li>
                    {% if title == About %}
                        <div class="active">
                    {% else %}
                        <div>
                    {% endif %}
                            <img width="20" height="20" src="https://img.icons8.com/ios-filled/50/about.png" alt="about"/>
                            <a href="/">About</a>
                        </div>
                </li>
                <li>
                    <div>
                        <img width="20" height="20" src="https://img.icons8.com/ios-filled/50/group-of-projects.png" alt="group-of-projects"/>
                        <a href="/projects">Projects</a>
                    </div>
                </li>
                <li>
                    <div>
                        <img width="20" height="20" src="https://img.icons8.com/ios-filled/50/persuasion-skills.png" alt="persuasion-skills"/>
                        <a href="#">Skills</a>
                    </div>
                </li>
                <li>
                    <div>
                        <img width="20" height="20" src="https://img.icons8.com/ios-glyphs/50/graduation-cap--v1.png" alt="graduation-cap--v1"/>
                        <a href="#">Education</a>
                    </div>
                </li>
                <li>
                    <div>
                        <img width="25" height="25" src="https://img.icons8.com/external-soleicons-solid-amoghdesign/17/000000/external-accomplishments-soleicons-solid-vol-2-soleicons-solid-amoghdesign.png" alt="external-accomplishments-soleicons-solid-vol-2-soleicons-solid-amoghdesign"/>
                        <a href="#">Achievements</a>
                    </div>
                </li>
                <li>
                    <div>
                        <img width="20" height="20" src="https://img.icons8.com/ios-filled/50/volunteering.png" alt="volunteering"/>
                        <a href="#">Volunteer Work</a>
                    </div>
                </li>
                <li>
                    <div>
                        <img width="20" height="20" src="https://img.icons8.com/external-glyph-andi-nur-abdillah/64/external-Blog-digital-nomad-(glyph)-glyph-andi-nur-abdillah.png" alt="external-Blog-digital-nomad-(glyph)-glyph-andi-nur-abdillah"/>
                        <a href="#">Blog</a>
                    </div>
                </li>
            </ul>

            <ul class="social">
                <li>
                    <a href="#">
                        <img width="25" height="25" src="https://img.icons8.com/ios-glyphs/30/linkedin.png" alt="linkedin"/>
                    
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img width="25" height="25" src="https://img.icons8.com/ios-glyphs/30/github.png" alt="github"/>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img width="25" height="25" src="https://img.icons8.com/ios-glyphs/30/twitter--v1.png" alt="twitter--v1"/>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img width="25" height="25" src="https://img.icons8.com/material-rounded/24/mail.png" alt="mail"/>
                    </a>
                </li>
            </ul>
        </nav>
    </header>

    <div class="main">
        <div class="content">
            {% block content %}
            {% endblock %}
        </div>
        <footer>
            <p>&copy; {{ year }} Eslam Mohamed. All rights reserved.</p>
        </footer>
    </div>
</body>
</html>